body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color: ghostwhite;
  }

  #title {
    text-align: right;
    font-size: 28px;
  }

  h2{
    text-align: right;
    font-size: 20px;
  }

main {
  width: 80%;
  max-width: 660px;
  background-color: var(--background);
  margin: 4rem auto;
  border-radius: 10px;
}
  /* NB: REPLACE MAIN WITH 
  
    main {
        width: 80%;
        max-width: 660px;
        background-color: var(--background);
        margin: 4rem auto;
        padding: 6rem;
        border-radius: 10px;
      }*/