body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color: ghostwhite;
  }

  #title {
        display: block;    
        position: fixed;
        top: 0%;
        right: 10%;
        z-index: 1;
        font-size: 28px;
  }

  h2{
    display: block; 
    position: fixed;
    top: 20%;
    right: 10%;
    z-index: 2;
    font-size: 28px;
  }

main {
  display: block; 
  position: sticky;
  width: 50%;
  max-width: 660px;
  background-color: var(--background);
  margin: 2em auto;
  border-radius: 0px;
  z-index: 3;
}