/* Desktop/Default */
body {
    background-color: ghostwhite;
    }
    
    .page {
    font-family: helvetica, arial, sans-serif;
    max-width: 750px;
    margin: 0 auto;
    padding: 30px 10px;
    }
    
    .logo {
    position: fixed;
    top: 30px;
    right: 432px;
    font-size: 30px;
    }
    
    .menu {
    position: fixed;
    top: 200px;
    right: 483px;
    font-size: 28px;
    }
    
    .image {
    position: fixed;   
    top: 255px;
    right: 180px;
    }
    
    .two {
    position: absolute;
    max-width: 250px;
    top: 250px;
    }
  
    iframe {
      position: fixed;   
      top: 255px;
      right: 180px;
    }

    
    /* Mobile */
    
    @media only screen and (max-width: 1000px) {
    
    .menu {
    top: 210px;
    right: 482px;
    }
  
    .image {
    top: 20px;
    }
  
    .two {
    display: none;
    }

    iframe {
    position: fixed;   
    top: 300px;
    height: 500px;
    width: 600px;
    right: 180px;
    }

    }

    